* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Poppins", serif;
}

button,.input-count .plusInput,.input-count .lessInput {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    height: 40px;

    transition: 0.3s;

}

button:hover {
    cursor: pointer;
    color: white;
}

body {
    background-color: #282a36;
}

.calc {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #434558;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 8px;

    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;

    gap: 16px;
    padding: 30px;
}

.calc h1{
    letter-spacing: 5px;
    font-size: 25px;
}

.display-count {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: #282a36;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.buttons {
    width: 100%;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-count {
    display: flex;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 8px;
}

.buttonPlus{
    background-color: #50fa7b;
}

.buttonLess{
    background-color: #ff5555;
}

.plus10, .less10 {
    background-color: #bd93f9;
}

.plusThousand, .lessThousand {
    background-color: #ff79c6;
}

.input-count .plusInput, .input-count .lessInput {
    background-color: rgb(138, 232, 252);
}

.input-count .plusInput:hover, .input-count .lessInput:hover {
    background-color: rgba(138, 232, 252, 0.8);
    cursor: pointer;
}

.input-count input{
    border-radius: 4px;
    border: 1px #4b5475;
    background-color: #282a36;
    -moz-appearance: textfield;
    color: white;
}

.reset {
    background-color: #6272a4;
    border-radius: 8px;
    width: 100%;
    color: white;
}

.reset:hover {
    color: rgb(218, 218, 218);
}